<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974231372192-at7sdisir502m7ud41e3vf8ptqe7od60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974231372192-at7sdisir502m7ud41e3vf8ptqe7od60</string>
	<key>API_KEY</key>
	<string>AIzaSyCFbymqS1sd9XyOR59-HlJp3N_gvzUWMRM</string>
	<key>GCM_SENDER_ID</key>
	<string>974231372192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teja.RickAndMorty</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-b0754</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-b0754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974231372192:ios:52b0b769d0863408ffe4c5</string>
</dict>
</plist>